
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="#"> <img class="logo-small" src="/images/logored.svg"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        <div class="w-100 order-1 order-md-0 dual-collapse2">
            
                <div class="navbar-collapse collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active mr-3">
                        <a class="nav-link" href="#">Browse<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Create
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#storyModal"><i class="fas fa-book menu-icon"></i>New Story</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#poemModal"><i class="fas fa-feather-alt menu-icon"></i>New Poem</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#songModal"><i class="fas fa-music menu-icon"></i>New Song</a>
                        </div>
                    </li>
                    
                    </ul>
                    </div>
        </div>



        <div class="w-100 nav-item dropdown navbar-collapse collapse order-2 dual-collapse2">
            <div class="navbar-nav ml-auto">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user}}
            </a>
            <div class="dropdown-menu user-dropdown" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="/logout">Log Out</a>
            </div>
            </div>
        </div>



    </nav>




<!-- Modal -->
<div class="modal fade" id="storyModal" tabindex="-1" role="dialog" aria-labelledby="storyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="storyModalLabel">Create New Story</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
        <div class="form-group">
            <label for="titleInput">Story Title</label>
            <input type="text" class="form-control" id="titleInput" aria-describedby="titleHelp" placeholder="Enter title">
        </div>
        <div class="form-group">
            <label for="descInput">Story Description</label>
            <input type="text" class="form-control" id="descInput" placeholder="Enter description">
        </div>
        <p class="genre-label">Genres</p>
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="adventureCheck">
                    <label class="form-check-label" for="adventureCheck">Adventure</label>  
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="childrenCheck">
                    <label class="form-check-label" for="childrenCheck">Children</label>  
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="educationalCheck">
                    <label class="form-check-label" for="educationalCheck">Educational</label>  
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="fantasyCheck">
                    <label class="form-check-label" for="fatnasyCheck">Fantasy</label>  
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="historicalCheck">
                    <label class="form-check-label" for="historicalCheck">Historical</label>  
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="literaryCheck">
                    <label class="form-check-label" for="literaryCheck">Literary</label>  
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="mysteryCheck">
                    <label class="form-check-label" for="mysteryCheck">Mystery</label>  
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="philosophicalCheck">
                    <label class="form-check-label" for="philosophicalCheck">Philosophical</label>  
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="politicalCheck">
                    <label class="form-check-label" for="politicalCheck">Political</label>  
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="pulpCheck">
                    <label class="form-check-label" for="pulpCheck">Pulp</label>  
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="religiousCheck">
                    <label class="form-check-label" for="religiousCheck">Religious</label>  
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="romanticCheck">
                    <label class="form-check-label" for="romanticCheck">Romantic</label>  
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="horrorCheck">
                    <label class="form-check-label" for="horrorCheck">Horror</label>  
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="scifiCheck">
                    <label class="form-check-label" for="scifiCheck">Sci-Fi</label>  
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="thrillerCheck">
                    <label class="form-check-label" for="thrillerCheck">Thriller</label>  
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="westernCheck">
                    <label class="form-check-label" for="westernCheck">Western</label>  
                </div>
            </div>
        </div>
        <div class="modal-footer mt-3">
        <button type="button" class="btn btn-secondary-outline" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger">Submit</button>
        </div>
        </form>
     </div>
    </div>
  </div>
</div>





    <div class="container-fluid">
    <div class="wrapper row">
    <div class="leftnav col">
        <div class="leftsubnav leftnavbg row justify-content-between">
            <div class="col-8 leftsubnav-items">
            <p class="leftsubnav-text">My List</p>
            </div>
            <div class="col category-filter">
            <form class="category-select">
                <div class="styled-select slate">
                        <select class="form-control" id="exampleFormControlSelect1">
                        <option>All Projects</option>
                        <option>Stories</option>
                        <option>Poems</option>
                        <option>Songs</option>
                        </select>
                    </div>
            </form>
            </div>
        </div>
        <div class="row leftnavbg leftnav-submenu">
            <div class="col leftnav-submenu-col">
                <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Favorited</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Created</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Joined</a>
                </li>
                </ul>
            </div>
        </div>
        <div class="favorites-feed">
        <table class="table favorites">
            <tbody>
                <tr>
                <td class="browse-row">
                    <h3 class="proj-title">A Wrinkle In Time</h3>
                    <i class="fas fa-book type-icon"></i><p class="author-attr">by <span class="author-name">stephenkingrocks</span> • updated 5 hours ago</p>
                    <p class="proj-desc">Three kids journey to a strange dimension to find Jesus.</p>
                    </td>
                </tr>
                <tr>
                    <td class="browse-row">
                    <h3 class="proj-title">The Raven</h3>
                    <i class="fas fa-feather-alt type-icon"></i><p class="author-attr">by <span class="author-name">edgarallenprose</span> • updated 6 hours ago</p>
                    <p class="proj-desc">And so hark the raven, for nevermore.</p>
                    </td>
                </tr>
                <tr>
                    <td class="browse-row">
                    
                    <h3 class="proj-title">Always Be My Baby</h3>
                    <i class="fas fa-music type-icon"></i><p class="author-attr">by <span class="author-name">mariahcarey</span> • updated 6 hours ago</p>
                    <p class="proj-desc">Do Do DO DOOOOOO do do do do do do DOOOOOOOOOOOO do do DOOOOOO DOOOOOOOOOOOOOO</p>
                    </td>
                </tr>
                <tr>
                    <td class="browse-row">
                    
                    <h3 class="proj-title">Harry Potter and the Chamber of Secrets</h3>
                    <i class="fas fa-book type-icon"></i><p class="author-attr">by <span class="author-name">J. K. Rowling</span> • updated 7 hours ago</p>
                    <p class="proj-desc">Three kids journey to a strange country to kill Satan.</p>
                    </td>
                </tr>
                <tr>
                    <td class="browse-row">
                    
                    <h3 class="proj-title">Green Eggs and Ham</h3>
                    <i class="fas fa-feather-alt type-icon"></i><p class="author-attr">by <span class="author-name">shelly</span> • updated 8 hours ago</p>
                    <p class="proj-desc">No I won't have green eggs and ham, I won't have it on a train, or on a plane.</p>
                    </td>
                </tr>
                <tr>
                    <td class="browse-row">
                    
                    <h3 class="proj-title">Africa</h3>
                    <i class="fas fa-music type-icon"></i><p class="author-attr">by <span class="author-name">Toto</span> • updated 8 hours ago</p>
                    <p class="proj-desc">I bless the rains down in Africaaaaa</p>
                    </td>
                </tr>
                <tr>
                    <td class="browse-row">
                    <h3 class="proj-title">Lose Yourself</h3>
                    <i class="fas fa-music type-icon"></i>
                    <p class="author-attr">by <span class="author-name">Eminem</span> • updated 8 hours ago</p>
                    <p class="proj-desc">Mom's spaghetti</p>
                    </td>
                </tr>
                <tr>
                    <td class="browse-row">
                    <h3 class="proj-title">Charlotte's Web</h3>
                    <i class="fas fa-book type-icon"></i>
                    <p class="author-attr">by <span class="author-name">E. B. White</span> • updated 10 hours ago</p>
                    <p class="proj-desc">Mom's spaghetti</p>
                    </td>
                </tr>
                                <tr>
                <td class="browse-row">
                    <h3 class="proj-title">A Wrinkle In Time</h3>
                    <i class="fas fa-book type-icon"></i><p class="author-attr">by <span class="author-name">stephenkingrocks</span> • updated 5 hours ago</p>
                    <p class="proj-desc">Three kids journey to a strange dimension to find Jesus.</p>
                    </td>
                </tr>
                <tr>
                    <td class="browse-row">
                    <h3 class="proj-title">The Raven</h3>
                    <i class="fas fa-feather-alt type-icon"></i><p class="author-attr">by <span class="author-name">edgarallenprose</span> • updated 6 hours ago</p>
                    <p class="proj-desc">And so hark the raven, for nevermore.</p>
                    </td>
                </tr>
                <tr>
                    <td class="browse-row">
                    
                    <h3 class="proj-title">Always Be My Baby</h3>
                    <i class="fas fa-music type-icon"></i><p class="author-attr">by <span class="author-name">mariahcarey</span> • updated 6 hours ago</p>
                    <p class="proj-desc">Do Do DO DOOOOOO do do do do do do DOOOOOOOOOOOO do do DOOOOOO DOOOOOOOOOOOOOO</p>
                    </td>
                </tr>
                <tr>
                    <td class="browse-row">
                    
                    <h3 class="proj-title">Harry Potter and the Chamber of Secrets</h3>
                    <i class="fas fa-book type-icon"></i><p class="author-attr">by <span class="author-name">J. K. Rowling</span> • updated 7 hours ago</p>
                    <p class="proj-desc">Three kids journey to a strange country to kill Satan.</p>
                    </td>
                </tr>
                <tr>
                    <td class="browse-row">
                    
                    <h3 class="proj-title">Green Eggs and Ham</h3>
                    <i class="fas fa-feather-alt type-icon"></i><p class="author-attr">by <span class="author-name">shelly</span> • updated 8 hours ago</p>
                    <p class="proj-desc">No I won't have green eggs and ham, I won't have it on a train, or on a plane.</p>
                    </td>
                </tr>
                <tr>
                    <td class="browse-row">
                    
                    <h3 class="proj-title">Africa</h3>
                    <i class="fas fa-music type-icon"></i><p class="author-attr">by <span class="author-name">Toto</span> • updated 8 hours ago</p>
                    <p class="proj-desc">I bless the rains down in Africaaaaa</p>
                    </td>
                </tr>
                <tr>
                    <td class="browse-row">
                    <h3 class="proj-title">Lose Yourself</h3>
                    <i class="fas fa-music type-icon"></i>
                    <p class="author-attr">by <span class="author-name">Eminem</span> • updated 8 hours ago</p>
                    <p class="proj-desc">Mom's spaghetti</p>
                    </td>
                </tr>
                <tr>
                    <td class="browse-row">
                    <h3 class="proj-title">Charlotte's Web</h3>
                    <i class="fas fa-book type-icon"></i>
                    <p class="author-attr">by <span class="author-name">E. B. White</span> • updated 10 hours ago</p>
                    <p class="proj-desc">Mom's spaghetti</p>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="content-area row justify-content-between">
        <div class="col container-fluid content-container">
            <h2 class="section-title">Popular &nbsp; &nbsp;<i class="fas fa-angle-right"></i>&nbsp; &nbsp;All</h2>
            <table class="table main-feed">
            <tbody>
                <tr>
                <th scope="row">1</th>
                    <td class="main-cap">
                        <h5 class="main-title">A Study in Scarlet</h5>
                        <i class="fas fa-book type-icon"></i><p class="author-attr">by Sir Arthur Conan Doyle • updated 2 hours ago</p> 
                        <p class="main-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum justo nec quam aliquam, quis facilisis ante bibendum. Mauris molestie feugiat ante, ultricies dignissim mauris commodo ac.</p>
                        <p class="tagline"><a href="#">Mystery</a><a href="#">Suspense</a></p>
                    </td>
                    <td class="number-cap">
                        <p class="add-icon-text">27</p>
                    </td>
                    <td class="end-cap">
                        <img class="add-icon" src="images/logogrey.svg">
                    </td>


                </tr>
                <tr>
                <th scope="row">2</th>
                    <td class="main-cap">
                        <h5 class="main-title">Harry Potter and the Super Long Title that May Break the Table</h5>
                        <i class="fas fa-book type-icon"></i><p class="author-attr">by J. K. Rowling • updated 5 hours ago</p>
                        <p class="main-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum justo nec quam aliquam, quis facilisis ante bibendum. Mauris molestie feugiat ante, ultricies dignissim mauris commodo ac.</p>
                        <p class="tagline"><a href="#">Fantasy</a></p>
                    </td>
                    <td class="number-cap">
                        <p class="add-icon-text">6</p>
                    </td>
                    <td class="end-cap">
                        <img class="add-icon" src="images/logogrey.svg">
                    </td>
                </tr>
                <tr>
                <th scope="row">3</th>
                    <td class="main-cap">
                        <h5 class="main-title">We Are The Champions</h5>
                        <i class="fas fa-music type-icon"></i><p class="author-attr">by Freddie Mercury • updated 5 hours ago</p>
                        <p class="main-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum justo nec quam aliquam, quis facilisis ante bibendum. Mauris molestie feugiat ante, ultricies dignissim mauris commodo ac.</p>
                        <p class="tagline"><a href="#">Pop</a><a href="#">Rock</a></p>
                    </td>
                    <td class="number-cap">
                        <p class="add-icon-text">4</p>
                    </td>
                    <td class="end-cap">
                        <img class="add-icon" src="images/logogrey.svg">
                    </td>
                </tr>
                <tr>
                <th scope="row">4</th>
                    <td class="main-cap">
                        <h5 class="main-title">Moby Dick</h5>
                        <i class="fas fa-book type-icon"></i><p class="author-attr">by Ernest Hemingway • updated 2 hours ago</p>
                        <p class="main-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum justo nec quam aliquam, quis facilisis ante bibendum. Mauris molestie feugiat ante, ultricies dignissim mauris commodo ac.</p>
                    </td>
                    <td class="number-cap">
                        <p class="add-icon-text">3</p>
                    </td>
                    <td class="end-cap">
                        <img class="add-icon" src="images/logogrey.svg">
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td class="main-cap">
                        <h5 class="main-title">Clarity</h5>
                        <i class="fas fa-music type-icon"></i><p class="author-attr">by Zedd • updated 10 hours ago</p>
                        <p class="main-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum justo nec quam aliquam, quis facilisis ante bibendum. Mauris molestie feugiat ante, ultricies dignissim mauris commodo ac.</p>
                    </td>
                    <td class="number-cap">
                        <p class="add-icon-text">7</p>
                    </td>
                    <td class="end-cap">
                        <img class="add-icon" src="images/logogrey.svg">
                    </td>
                  </tr>  
                <tr>
                    <th scope="row">6</th>
                    <td class="main-cap">
                        <h5 class="main-title">The End</h5>
                        <i class="fas fa-music type-icon"></i><p class="author-attr">by The Beatles • updated 12 hours ago</p>
                        <p class="main-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum justo nec quam aliquam, quis facilisis ante bibendum. Mauris molestie feugiat ante, ultricies dignissim mauris commodo ac.</p>
                    </td>
                        <td class="number-cap">
                        <p class="add-icon-text"></p>
                    </td>
                    <td class="end-cap">
                        <img class="add-icon" src="images/logogrey.svg">
                    </td>
                  </tr>   
            </tbody>
            </table>
        </div>
        <div class="col rightnav">
            chat goes here
        </div>
            
    </div>
</div>
</div>
  

  



