<div class="container">
  <div class="row">
    <div class="col-md">
      <h2>Congratulations!</h2>
      <h5>You have logged in successfully.</h5>
      <div>
        <h3>
          Here's the TextEdit component.
        </h3>
        <textarea
          rows="10" cols="50"
          placeholder="Write something here..."
          >
        </textarea>
      </div>
      <a class="btn btn-primary" href="/logout" role="button">Sign Out</a>
    </div>
  </div>
</div>
