<div id="particles-js"></div>
<div class="row pt-5 unselectable">
  <div class="col d-flex justify-content-center">
  <img class="logo mr-3" src="/images/logo.png"><h1 class="logo-text">LitLab</h1>
  </div>

</div>
<div class="container unselectable">
  <div class="row d-flex justify-content-center">
    <div class="col sign-in rounded mt-4">
      <h4 class="mb-3">Get your labcoat ready.</h4>
      <p class="signup-text">LitLab is a collaborative writing tool that allows anyone to create awesome stories, songs, and poetry to share with the world.</p>
      <form id="signup" name="signup" method="post" action="/signup">
                <div class="form-group">
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-danger btn-block">Sign Up</button>
            </form>
      <p class="caption">Already a member? <a href="/signin">Sign in.</a></p>
    </div>
  </div>
</div>

